body,
html  {
	padding: 1em;
	margin: auto;
	max-width: 50em;
    height: 100%;
    color: #DCDCCC;
    line-height: 1.8;
    background-color: #333333;
}

/* unvisited link */
a:link {
    color: #659699;
}
/* visited link */
a:visited {
    color: #7F9F7F;
}

img, embed {
	max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

h1 {
    color: #CC9393;
    font-size: 3em;
}
h2 {
    color: #7F9F7F;
    font-size: 2em;
}
h3 {
    color: #659699;
    font-size: 1.5em;
}


/* body {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h4 {
    counter-reset: h5
}

h2:before {
    counter-increment: h2;
    content: "Chapter " counter(h2)
}

h3:before {
    counter-increment: h3;
    content: "S"counter(h2) "." counter(h3) " "
} */

strong {color: #CC9393;}



video {
    width: 100%;
    height: auto;
  }

embed {
    width: 100%;
    height: 800px;
  }