<!-- Parallax Image with About Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">ABOUT</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about" style="background-color:#3e3e3e;padding-right: 0;">
  <h3 class="w3-center">About Rodney DuPlessis</h3>
  <div class="w3-col l6 m6 s12 w3-padding" style="position:relative;z-index:2">
    <div class="tabbed">

      <!-- first panel -->

      <input name="tabbed" id="tabbed1" type="radio">
      <section>
        <label for="tabbed1" class="w3-button w3-small" style="background-color:#8CD0D3; color:#333333">Short
          Bio</label>
        <div>
          <p>
            Rodney DuPlessis is a Canadian composer and programmer exploring intersections of science, nature,
            technology, and music. He studies processes and patterns from natural and human-made systems to
            extract latent musicality and visceral sonic narratives. His music has been performed and recognized
            internationally. He develops innovative sound processing and synthesis software including EmissionControl2 
            and QHOSYN, a quantum synthesizer. He promotes new art through organizing festivals and concerts, and as 
            Programs and Development Director of Nomadic Soundsters.  He holds an MA in composition, MSc in Media Arts and Technology, 
            and PhD in composition.
          </p>
        </div>
      </section>

      <!-- second panel -->

      <input name="tabbed" id="tabbed2" type="radio">
      <section>
        <label for="tabbed2" class="w3-button w3-small" style="background-color:#8CD0D3; color:#333333">Medium
          Bio</label>
        <div>
          <p>
            Rodney DuPlessis is a Canadian composer and programmer exploring intersections of science, nature,
            technology, and music. In his work, he studies processes and patterns from natural and human-made systems to
            extract latent musicality and visceral sonic narratives. He incorporates algorithmic and intuitive methods,
            field recording, sonification, and software development to create electroacoustic and chamber music, museum
            installations, and network music collaborations.
          </p>

          <p>
            His music has been performed internationally and recognized by prizes such as Musica Nova
            International Competition (Finalist), Corwin Award for Excellence in Composition (1st prize -
            Percussion, 1st prize - Solo), and 2020 SEAMUS/ASCAP award (finalist). He has collaborated with new
            music luminaries such as <a href="http://www.lapq.org">Los Angeles Percussion Quartet</a>, <a
              href="http: //www.formalistquartet.com"> Formalist Quartet</a>, <a
              href="http://www.hocket.org/">Hocket</a>, <a href="https://www.henriqueportovedo.com">Henrique
              Portovedo</a>, and <a href="https://www.scottworthington.com">Scott Worthington</a>.
          </p>

          <p>
            As a programmer, DuPlessis creates innovative sound processing and synthesis software. In 2020,
            Duplessis, Curtis Roads, and Jack Kilgore released EmissionControl2, an interactive real-time application
            for granular synthesis. In 2021, he released QHOSYN, a synthesizer that sonifies a quantum wave function.
          </p>

          <p>
            DuPlessis is dedicated to promoting the presentation of new music and art. He has directed and produced many
            festivals and concerts, and serves as Programs and Development director of the Nomadic Soundsters art collective.
          </p>

          <p>
            DuPlessis' teachers have included Curtis Roads, Clarence Barlow, João Pedro Oliveira, and Martin Kutnowski.
            He holds a BA in Music and Psychology, Masters of Arts in Composition, Masters of Science in Media
            Arts & Technology, and PhD in Composition at UC Santa Barbara.
          </p>
        </div>
      </section>

      <!-- Third panel -->

      <input name="tabbed" id="tabbed3" type="radio" checked>
      <section>
        <label for="tabbed3" class="w3-button w3-small" style="background-color:#8CD0D3; color:#333333">Long
          Bio</label>
        <div>
          <p>
            Rodney DuPlessis is a Canadian composer and programmer exploring intersections of science, nature,
            technology, and music. In his work, he studies processes and patterns from natural and human-made systems to
            extract latent musicality and visceral sonic narratives. His process incorporates algorithmic and intuitive
            methods, field recording, software development, sonification, visualization, and microtonality. His creative
            output includes electroacoustic and chamber music, museum installations, live electronics performances,
            network music collaborations, and software for sound processing and synthesis.
          </p>

          <p>
            His music has been performed internationally and recognized by prizes such as the Musica Nova
            International Competition (Finalist), Destellos International Competition 2020 (honorable mention), the
            Corwin Award for Excellence in Composition (1st prize - Percussion, 1st prize - Solo, 2nd prize -
            Electroacoustic), and the 2020 SEAMUS/ASCAP award (finalist). He has collaborated with new music luminaries
            such as <a href="http://www.lapq.org">Los Angeles Percussion Quartet</a>, <a
              href="http: //www.formalistquartet.com"> Formalist Quartet</a>, <a
              href="http://www.hocket.org/">Hocket</a>, <a href="https://www.henriqueportovedo.com">Henrique
              Portovedo</a>, and <a href="https://www.scottworthington.com">Scott Worthington</a>. DuPlessis is a member
            of SUDO ensemble and former lead vocalist of the progressive metal band Tactus.
          </p>

          <p>
            As a programmer, DuPlessis creates innovative sound processing and synthesis software and works to preserve
            and reincarnate preexisting software. In 2020, he, along with Curtis Roads and Jack Kilgore released
            EmissionControl2, an interactive real-time application for granular synthesis. He has developed VST plugins
            for his novel spectral processing methods (PRISM) as well as a signal generator based on the linear dynamics
            of a coupled oscillator network (CHON). In 2021, he released QHOSYN, a synthesizer that sonifies a quantum
            wave function.
          </p>

          <p>
            DuPlessis is dedicated to promoting the presentation of new music and art. In 2018 he directed the <a
              href="https://www.music.ucsb.edu/news/event/1593">UCSB Summer Music Festival</a>: a 2-day festival
            celebrating new music and diversity. As Technical Coordinator at the <a
              href="http://www.create.ucsb.edu/">Center for Research in Electronic Art Technology (CREATE)</a> from
            2017-2020, he managed three electronic music studios and worked with Curtis Roads to present concerts and
            talks related to computer music. DuPlessis serves as Programs and Development director of the Nomadic 
            Soundsters art collective.
          </p>

          <p>
            DuPlessis' teachers have included Curtis Roads, Clarence Barlow, João Pedro Oliveira, and Martin Kutnowski,
            in addition to masterclasses and workshops with Alvise Vidolin, Nicola Bernardini, Annette Vande Gorne,
            Douglas Quin, Philip Samartzis, and others. He holds a Bachelor of Arts in Music and Psychology, Masters of
            Arts in Composition, Masters of Science in Media Arts & Technology, and PhD in Composition at UC Santa
            Barbara.
          </p>
        </div>
      </section>

    </div>

    <p>
      <a href="#music"> Hear for yourself... </a>
    </p>
    <br>
    <div class="w3-center"><a class="w3-button w3-center" style="background-color:#8CD0D3; color:#333333"
        href="Curriculum Vitae_RodneyDuPlessis.pdf">See Curriculum Vitae</a></div>
  </div>
  <div class="w3-col l6 m6 s12" style="z-index:1">
    <video autoplay loop muted playsinline alt="Rodney DuPlessis" width="200%" style="float:right"
      poster="images/headshot.png">
      <source type="video/webm" src="videos/headshot.webm" alt="Rodney DuPlessis">
      <source type="video/mp4" src="videos/headshot.mp4" alt="Rodney DuPlessis">
      <img src="images/headshot.png" alt="Rodney DuPlessis" width="100%">
    </video>
    <br>
    <!-- <div align="right">Photo Credit: Adriane Hill</div> -->
  </div>
</div>
