<!-- Parallax Image with Contact Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact" style="background-color:#3f3f3f">
  <h3 class="w3-center w3-xxlarge">Reach out to me at:</h3>
  <p class="w3-center w3-large">
    <i>r o d n e y [at] r o d n e y d u p l e s s i s . c o m</i>
  </p>
  <!-- <div class="w3-center">
   <a href="https://shoshanazuboff.com/book/">
  <img src="images/nosocialmediafeat.jpg" alt="Antisocial-Media">
  </a>
  </div> -->
</div>
