<!-- Parallax Image with Upcoming Events Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">EVENTS</span>
  </div>
</div>

<!-- Container (Events Section) -->
<div class="w3-content w3-container w3-padding-64" id="events" style="background-color:#3f3f3f">
  <h3 class="w3-center">Upcoming</h3>
  <div class="w3-large">

    $UpcomingEvents

  </div>
  <hr>
  <h3 class="w3-center">Past</h3>
  <div>

    $PastEvents

	</div>
	</div>
  </div>
</div>
