<!-- Home Splash -->

<!-- Large Screens -->
<div class="w3-display-container" id="home" style="height: 100%; width:100%; min-height: 440px;">
	<div class="w3-display-left w3-padding-large w3-hide-small w3-hide-medium" style="width: 50%">
		<h2>Featured Music</h2>
		<p>De Rerum Natura
		<p>
			<audio controls style="width:100%">
				<source src="music/De Rerum Natura.ogg" type="audio/ogg">
				<source src="music/De Rerum Natura.mp3" type="audio/mpeg">
				Your browser does not support audio.
			</audio>
		<p>Coacervate
		<p>
			<audio controls style="width:100%">
				<source src="music/Coacervate.ogg" type="audio/ogg">
				<source src="music/Coacervate.mp3" type="audio/mpeg">
				Your browser does not support audio.
			</audio>
		<p><a href="#music"> Hear More...</a></p>
	</div>
	<div class="w3-display-right w3-hide-small w3-hide-medium" style="width: 50%">
		<video autoplay muted loop width="100%" poster="images/header.png" style="float:right">
			<source type="video/webm" src="./videos/header.webm">
			<img src="images/header.png" width="100%">
		</video>
		<!-- <h1 class="w3-center w3-padding-large w3-wide w3-animate-opacity"
			style="background-color:#333333; color:#DCDCCC">
			Rodney <span style="color:#CC9393">DuPlessis</span>
		</h1> -->
	</div>

	<!-- Medium and Small Screens -->
	<div class="w3-display-bottommiddle w3-center w3-padding-large w3-hide-large" style="width: 100%;z-index: 2;">
		<h2>Featured Music</h2>
		<p>De Rerum Natura
		<p>
			<audio controls style="width:100%">
				<source src="music/De Rerum Natura.ogg" type="audio/ogg">
				<source src="music/De Rerum Natura.mp3" type="audio/mpeg">
				<a href="music/De Rerum Natura.ogg">Download Audio File</a>
			</audio>
		<p>Coacervate
		<p>
			<audio controls style="width:100%">
				<source src="music/Coacervate.ogg" type="audio/ogg">
				<source src="music/Coacervate.mp3" type="audio/mpeg">
				Your browser does not support audio.
			</audio>
		<p><a href="#music"> Hear More...</a></p>
	</div>
	<div class="w3-display-topmiddle w3-hide-large w3-padding-64" style="width:100%">
		<video autoplay muted loop playsinline width="100%" poster="images/header.png"
			style="max-height:50%;margin-left:auto;margin-right:auto;z-index: 1;">
			<source type="video/webm" src="videos/header.webm">
			<source type="video/mp4" src="videos/header.mp4">
			<img src="images/header.png" width="100%">
		</video>
	</div>
</div>