<!-- Navbar (sit on top) -->
<div class="w3-top" style="background-color:#333333; opacity:0.9;z-index: 100;">
  <div class="w3-bar w3-hide-small" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button ">HOME</a>
    <a href="#events" class="w3-bar-item w3-button"> EVENTS</a>
    <a href="#music" class="w3-bar-item w3-button"> MUSIC</a>
    <a href="#software" class="w3-bar-item w3-button"> SOFTWARE</a>
    <a href="#about" class="w3-bar-item w3-button"> ABOUT</a>
    <a href="#contact" class="w3-bar-item w3-button"> CONTACT</a>
    </a>
  </div>

  <div class="w3-bar w3-hide-large w3-hide-medium" id="myNavbar" style="width:100%"
    style="background-color:#333333; opacity:0.9;">
    <a href="#events" class="w3-bar-item w3-button" style="width:20%; padding-left:0; padding-right:0;">EVENTS</a>
    <a href="#music" class="w3-bar-item w3-button" style="width:18%; padding-left:0; padding-right:0;">MUSIC</a>
    <a href="#software" class="w3-bar-item w3-button" style="width:23%; padding-left:0; padding-right:0;">SOFTWARE</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:18%; padding-left:0; padding-right:0;">ABOUT</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:20%; padding-left:0; padding-right:0;">CONTACT</a>
    </a>
  </div>
</div>