<!-- Parallax Image with Works Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Software</span>
  </div>
</div>

<!-- Container (Works Section) -->
<div class="w3-content w3-container w3-padding-64" id="software" style="background-color:#3f3f3f">
  <!-- Responsive Grid. 3 columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-center w3-row-padding parent">

    <div class="w3-col l4 m6 s12 w3-padding">
      <label for="CHON">
        <a href="https://github.com/rodneydup/QHOSYN" style="text-decoration: none">
          <div class="w3-card-4 w3-hover-opacity" style="width:100%; height:auto;">
            <div class="w3-display-container">
              <img src="images/QHOSYN_thumbnail.png" alt="QHOSYN thumbnail" class="w3-image"
                style="width:100%; height:auto;">
              <div class="w3-display-topleft w3-center w3-padding-small" style="background-color:#3f3f3f; opacity:0.9;">
                <p style="line-height: 0.2"> 2021 </p>
              </div>
            </div>
            <div class="w3-container w3-left-align" style="background-color:#3f3f3f;">
              <h4>QHOSYN</h4>
              <p>The Quantum Harmonic Oscillator Synthesizer</p>
            </div>
          </div>
        </a>
      </label>
    </div>

    <div class="w3-col l4 m6 s12 w3-padding">
      <label for="CHON">
        <a href="https://github.com/rodneydup/CHON" style="text-decoration: none">
          <div class="w3-card-4 w3-hover-opacity" style="width:100%; height:auto;">
            <div class="w3-display-container">
              <img src="images/CHON_thumbnail.png" alt="CHON thumbnail" class="w3-image"
                style="width:100%; height:auto;">
              <div class="w3-display-topleft w3-center w3-padding-small" style="background-color:#3f3f3f; opacity:0.9;">
                <p style="line-height: 0.2"> 2021 </p>
              </div>
            </div>
            <div class="w3-container w3-left-align" style="background-color:#3f3f3f;">
              <h4>CHON</h4>
              <p>Coupled physics-based LFOs</p>
            </div>
          </div>
        </a>
      </label>
    </div>

    <div class="w3-col l4 m6 s12 w3-padding">
      <label for="EmissionControl2">
        <a href="https://github.com/jackkilgore/EmissionControl2/releases/latest" style="text-decoration: none">
          <div class="w3-card-4 w3-hover-opacity" style="width:100%; height:auto;">
            <div class="w3-display-container">
              <img src="images/EmissionControl2_thumbnail.jpg" alt="EmissionControl2 thumbnail" class="w3-image"
                style="width:100%; height:auto;">
              <div class="w3-display-topleft w3-center w3-padding-small" style="background-color:#3f3f3f; opacity:0.9;">
                <p style="line-height: 0.2"> 2020 </p>
              </div>
            </div>
            <div class="w3-container w3-left-align" style="background-color:#3f3f3f;">
              <h4>EmissionControl2</h4>
              <p>"The Ultimate Granulator" - Curtis Roads</p>
            </div>
          </div>
        </a>
      </label>
    </div>

    <div class="w3-col l4 m6 s12 w3-padding">
      <label for="Alloscope">
        <a href="https://github.com/rodneydup/Alloscope" style="text-decoration: none">
          <div class="w3-card-4 w3-hover-opacity" style="width:100%; height:auto;">
            <div class="w3-display-container">
              <img src="images/Alloscope_thumbnail.jpg" alt="Alloscope thumbnail" class="w3-image"
                style="width:100%; height:auto;">
              <div class="w3-display-topleft w3-center w3-padding-small" style="background-color:#3f3f3f; opacity:0.9;">
                <p style="line-height: 0.2"> 2020 </p>
              </div>
            </div>
            <div class="w3-container w3-left-align" style="background-color:#3f3f3f;">
              <h4>Alloscope</h4>
              <p>X/Y Oscilloscope for vector art</p>
            </div>
          </div>
        </a>
      </label>
    </div>

    <div class="w3-col l4 m6 s12 w3-padding">
      <label for="Xenakis-Sieves">
        <a href="https://github.com/rodneydup/Xenakis-Sieves" style="text-decoration: none">
          <div class="w3-card-4 w3-hover-opacity" style="width:100%; height:auto;">
            <div class="w3-display-container">
              <img src="images/Xenakis-Sieves_thumbnail.jpg" alt="Xenakis-Sieves thumbnail" class="w3-image"
                style="width:100%; height:auto;">
              <div class="w3-display-topleft w3-center w3-padding-small" style="background-color:#3f3f3f; opacity:0.9;">
                <p style="line-height: 0.2"> 2019 </p>
              </div>
            </div>
            <div class="w3-container w3-left-align" style="background-color:#3f3f3f;">
              <h4>Xenakis-Sieves</h4>
              <p>Reincarnated command line sieve calculator from Formalized Music</p>
            </div>
          </div>
        </a>
      </label>
    </div>

    <div class="w3-col l4 m6 s12 w3-padding">
      <label for="pulsar">
        <a href="https://github.com/rodneydup/pd-pulsar" style="text-decoration: none">
          <div class="w3-card-4 w3-hover-opacity" style="width:100%; height:auto;">
            <div class="w3-display-container">
              <img src="images/pulsar_thumbnail.jpg" alt="pulsar thumbnail" class="w3-image"
                style="width:100%; height:auto;">
              <div class="w3-display-topleft w3-center w3-padding-small" style="background-color:#3f3f3f; opacity:0.9;">
                <p style="line-height: 0.2"> 2018 </p>
              </div>
            </div>
            <div class="w3-container w3-left-align" style="background-color:#3f3f3f;">
              <h4>pulsar~</h4>
              <p>Pulsar Synthesis in Pure Data</p>
            </div>
          </div>
        </a>
      </label>
    </div>

    <div class="w3-col l4 m6 s12 w3-padding">
      <label for="PISCES">
        <a href="https://github.com/rodneydup/PISCES" style="text-decoration: none">
          <div class="w3-card-4 w3-hover-opacity" style="width:100%; height:auto;">
            <div class="w3-display-container">
              <img src="images/PISCES_thumbnail.jpg" alt="PISCES thumbnail" class="w3-image"
                style="width:100%; height:auto;">
              <div class="w3-display-topleft w3-center w3-padding-small" style="background-color:#3f3f3f; opacity:0.9;">
                <p style="line-height: 0.2"> 2017 </p>
              </div>
            </div>
            <div class="w3-container w3-left-align" style="background-color:#3f3f3f;">
              <h4>PISCES</h4>
              <p>PISCES Interactive Spectral Compression Engine and Synthesizer</p>
            </div>
          </div>
        </a>
      </label>
    </div>

  </div>
</div>
