<!-- Parallax Image with Works Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">Music</span>
  </div>
</div>

<!-- Container (Works Section) -->
<div class="w3-content w3-container w3-padding-64" id="music" style="background-color:#3f3f3f">

  <!-- Responsive Grid. 3 columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-center w3-row-padding parent">

    @worksCards

  </div>
</div>