body,
html  {
	padding: 1em;
	margin: auto;
	max-width: 50em;
    height: 100%;
    color: #DCDCCC;
    line-height: 1.8;
    background-color: #333333;
}

/* unvisited link */
a:link {
    color: #659699;
}
/* visited link */
a:visited {
    color: #7F9F7F;
}

img, embed {
	max-width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

strong {color: #CC9393;}

h1.title { display: none; }

video {
    width: 100%;
    height: auto;
  }

embed {
    width: 100%;
    height: 800px;
  }