<div class="w3-col m6 s12 w3-padding">
  <h1>Sample of Score</h1>
  <h0>(contact me for the full score)<h0>
      <p>
        <embed src="../scoreSamples/@title.pdf" type="application/pdf" width="100%" height="600px" />
      </p>
</div>