    <h1>Samples of the Score</h1>
		<span>
		Dream Sequence
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Dream Sequence.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Dream Sequence.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Dream Sequence.ogg">Download Audio File</a>
		</audio>
		<span>
		Dream Sequence Reprise
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Dream Sequence Reprise.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Dream Sequence Reprise.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Dream Sequence Reprise.ogg">Download Audio File</a>
		</audio>
		<span>
		Lucentio-Bianca Theme
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Lucentio-Bianca Theme.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Lucentio-Bianca Theme.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Lucentio-Bianca Theme.ogg">Download Audio File</a>
		</audio>
		<span>
		Lucentio in Love
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Lucentio in Love.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Lucentio in Love.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Lucentio in Love.ogg">Download Audio File</a>
		</audio>
		<span>
		Lucentio-Bianca Club Theme (loop)
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Lucentio-Bianca Club Theme (loop).ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Lucentio-Bianca Club Theme (loop).mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Lucentio-Bianca Club Theme (loop).ogg">Download Audio File</a>
		</audio>
		<span>
		Old Money Theme
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Old Money Theme.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Old Money Theme.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Old Money Theme.ogg">Download Audio File</a>
		</audio>
		<span>
		Old Money Club Theme (loop)
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Old Money Club Theme (loop).ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Old Money Club Theme (loop).mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Old Money Club Theme (loop).ogg">Download Audio File</a>
		</audio>
		<span>
		Lucentio-Bianca to Old Money Theme
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Lucentio-Bianca to Old Money Theme.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Lucentio-Bianca to Old Money Theme.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Lucentio-Bianca to Old Money Theme.ogg">Download Audio File</a>
		</audio>
		<span>
		Petruchio-Katherina Theme
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Petruchio-Katherina Theme.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Petruchio-Katherina Theme.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Petruchio-Katherina Theme.ogg">Download Audio File</a>
		</audio>
		<span>
		Petruchio-Katherina Theme 2
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Petruchio-Katherina Theme 2.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Petruchio-Katherina Theme 2.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Petruchio-Katherina Theme 2.ogg">Download Audio File</a>
		</audio>
		<span>
		Kate Introspective
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Kate Introspective.ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Kate Introspective.mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Kate Introspective.ogg">Download Audio File</a>
		</audio>
		<span>
		Phi Phi Phi (Curtain Call)
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/The Taming of the Shrew/Phi Phi Phi (Curtain Call).ogg" type="audio/ogg">
  	  <source src ="../music/The Taming of the Shrew/Phi Phi Phi (Curtain Call).mp3" type="audio/mpeg">
			<a href="../music/The Taming of the Shrew/Phi Phi Phi (Curtain Call).ogg">Download Audio File</a>
		</audio>
