    <h1>Samples of the Score</h1>
		<span>
		"Cybernetique" (Music & Sound Design sample)
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/Trudeau and the FLQ/Cybernetique.ogg" type="audio/ogg">
  	  <source src ="../music/Trudeau and the FLQ/Cybernetique.mp3" type="audio/mpeg">
			<a href="../music/Trudeau and the FLQ/Cybernetique.ogg">Download Audio File</a>
		</audio>
		<span>
		"The Philosopher King" (from Trudeau and the FLQ OST)
		</span>    
    <audio controls preload="none" style="width:100%">
	  	<source src ="../music/Trudeau and the FLQ/The Philosopher King.ogg" type="audio/ogg">
  	  <source src ="../music/Trudeau and the FLQ/The Philosopher King.mp3" type="audio/mpeg">
			<a href="../music/Trudeau and the FLQ/The Philosopher King.ogg">Download Audio File</a>
		</audio>
