	<h1>Watch</h1>
    <video controls preload="none" style="width:100%">
	  	<source src ="../videos/@title.webm" type="video/webm">
  	  <source src ="../videos/@title.mp4" type="video/mp4">
	  	<a href="../videos/@title.ogg">Download Video File</a>
		</video>
