<div class="w3-container">
  <div class="w3-container w3-cell w3-mobile w3-left-align" style="white-space:normal; width:150px">
    <i style="color:#CC9393;">
      @date
    </i>
  </div>
  <div class="w3-container w3-cell w3-mobile w3-left-align">
    <b style="color:#7F9F7F">@who</b> @tense <b style="color:#659699">
      @link
    </b>
    at @where @city
  </div>
</div>