<!-- @title Modal -->
			<input class="w3-modal-open" id="@title" type="checkbox" hidden>
			<div class="w3-modal" aria-hidden="true" role="dialog">
  			<div class="w3-modal-content w3-animate-zoom" style="height:95%; width:95%; background-color:#3f3f3f; overflow-y:auto; 
-webkit-overflow-scrolling:touch;">
 			    <label class="w3-button w3-display-topright" for="@title">&times;</label>
					<iframe src="musicPages/@title.html" style="border:none; height:100%; width:100%" name="@title">
					</iframe>
  			</div>
			</div>
