

		<div class="tab w3-center">
      <input id="moreEvents" type="checkbox" name="tabs" hidden>
      <label for="moreEvents"><div class="w3-button w3-center" style="background-color:#8CD0D3; color:#333333">More Events...</div></label>
      <div class="tab-content">
      
      
