<div class="w3-col l4 m6 s12 w3-padding">
	<label for="@title">
		<div class="w3-card-4 w3-hover-opacity" style="width:100%; height:auto;">
			<div class="w3-display-container">
				<img src="images/@title_thumbnail.jpg" alt="@title thumbnail" class="w3-image"
					style="width:100%; height:auto;">
				<div class="w3-display-topleft w3-center w3-padding-small"
					style="background-color:#3f3f3f; opacity:0.9;">
					<p style="line-height: 0.2"> @year </p>
				</div>
			</div>
			<div class="w3-container w3-left-align" style="background-color:#3f3f3f;">
				<h4>@title</h4>
				<p>@instrumentation</p>
			</div>
		</div>
	</label>


	<!-- Modal -->
	<input class="w3-modal-open" id="@title" type="checkbox" hidden>
	<div class="w3-modal" aria-hidden="true" role="dialog">
		<div class="w3-modal-content w3-animate-zoom" style="height:90%; width:90%; background-color:#3f3f3f; overflow-y:auto; 
-webkit-overflow-scrolling:touch; top: 20px">
			<label class="w3-button w3-display-topright" for="@title">&times;</label>
			<iframe src="https://rodneyduplessis.com/musicPages/@title.html"
				style="border:none; height:100%; width:100%; margin-bottom: -10px;" name="@title">
			</iframe>
		</div>
	</div>
</div>